@page
@model EasyLearn.Pages.Folders.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localize

@{
    ViewData["Title"] = "Index";
}

<div class="top-page-library-modules">

<body class="custom-background">

    <h1 class="create-title">@Localize["Your library"]</h1>

    <div class="tabs">
        <a asp-area="" asp-page="/TrainingModules/Index" class="tab" style="color:white">@Localize["Training modules"]</a>
        <a asp-area="" asp-page="/Folders/Index" class="tab" style="color:cornflowerblue">@Localize["Folders"]</a>
        <a asp-area="" asp-page="/Courses/Index" class="tab" style="color:white">@Localize["Courses"]</a>
    </div>
    <hr class="tab-line">

    <input type="search" class="s1"/>
        <form method="get">
            <input type="search" name="searchString" class="s1" placeholder="@Localize["Search Folder"] "/>
            <button type="submit" class="btn btn-primary lupa"></button>
        </form>

</body>


<table class="table">

    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Folder)
        {
            <a asp-area="" asp-page="/Folders/IndexFolder" asp-route-folderId="@item.Id">

                <div class="recent-library-folders">
                    @Html.DisplayFor(modelItem => item.Name)
                    <div class="recent-description">
                        @Html.DisplayFor(modelItem => item.Description)
                                    <br />
                        @Html.DisplayFor(modelItem => item.Create.Day) /
                        @Html.DisplayFor(modelItem => item.Create.Month) /
                        @Html.DisplayFor(modelItem => item.Create.Year)
                    </div>

                </div>
            </a>
            @*  <td>
        <ul>
        @foreach (var module in item.TrainingModules)
        {
        <li>
        @module.Name - @module.Description
        <ul>
        @foreach (var card in module.Cards)
        {
        <li>@card.Term: @card.Definition</li>
        }
        </ul>
        </li>
        }
        </ul>
        </td> *@

        }
    </tbody>
</table>
</div>