@page
@model EasyLearn.Pages.Folders.IndexFolderModel
@{
    ViewData["Title"] = "IndexFolder";

}
<style>
    body {
        background-color: #0A082D;
    }

    .atf {
        margin-bottom:40px;
    }

    .recent-library-module4{
        height: 100px!important;
        border-radius: 6px;
        background-color: #2E3756;
        color: white;
        font-weight: bold;
        font-size: 23px;
        width: 92%;
        margin-bottom:10px;
    }

    .recent-description1{
        font-size: 15px !important;
        font-weight: bold;
        color: #A9B0C3;
        position: relative;
        top: 20px;
        left: 2%;
        width: 90%;
    }

    .name-recent1 {
        width: 80.5%;
        display: flex;
        justify-content: start;
        position: relative;
        top: 15px;
        left: 2%;
        overflow: hidden;
    }

    .del:hover {
        background-color:red;
        transform:scale(1.05);
    }
    .del:focus {
        background-color:red;
        box-shadow:none;
        outline:none;
    }

    .edt {
        height:70px;
        width:70px;
        background-color: #6495ED;
        border-radius:10px;
        background-image: url(/images/pencil.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;
        position:fixed;
        left:90%;
    }

    .tru {
        width: 92%;
    }
    .ll {
        height:100%;
        width:100%;
        border-radius: 10px;
    }

    .name-cont {
        colow:white!important;
        position:relative;
        top:50px;
    }
</style>


<div class="top-page-library-modules">


    <table class="table">
        <h1 class="name-cont" style="color:white">Folder: @Model.Folder.Name</h1>
        @*         <a asp-area="" asp-page="/Folders/AddTrainingModules" asp-route-folderId="@Model.FolderId">
        Add TrainingModule
        </a> *@
        <div class="edt">
            <a asp-page="/Folders/Edit" asp-route-id="@Model.FolderId">
                <div class="ll"></div>
            </a>
        </div>
        <form method="post">
            <div class="form-group">
                <select asp-for="SelectedTrainingModuleId" class="form-control tru" asp-items="Model.TrainingModulesWithoutFolder" style="background-color:steelblue; color:white; border:none; box-shadow:none;">
                    <option value="" >-- Select Training Module --</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary atf">Add to Folder</button>
            
        </form>


        <tbody>
            @foreach (var item in Model.TrainingModules)
            {
              
                <a asp-area="" asp-page="/Cards/Index" asp-route-trainingModuleId="@item.Id">

                    <div class="recent-library-module4">
                       
                        <div class="recent-content">
                            <div class="name-recent1">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="recent-description1">
                                @Html.DisplayFor(modelItem => item.Description)
                                <br />
                                @Html.DisplayFor(modelItem => item.Create.Day) /
                                @Html.DisplayFor(modelItem => item.Create.Month) /
                                @Html.DisplayFor(modelItem => item.Create.Year)
                            </div>
                        </div>

                    </div>
                </a>
                <button type="button" class="btn btn-primary del" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + item.Id)">
                </button>
              

                <!-- Modal -->
                <div class="modal fade" id="@("deleteModel"+item.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+item.Id)" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="@("deleteModelLable"+item.Id)">Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Ви впевнені , що хочете видалити цей елемент?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a asp-page-handler="Delete" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
        <div>

           

            </br>
@*             <div style="background-color:white; border:2px solid chartreuse">
                <a asp-page="/Folders/Delete" asp-route-id="@Model.FolderId">
                    This is Delete of Folders
                </a>
            </div> *@
        </div>
    </table>


</div>
