@page
@model EasyLearn.Pages.Folders.IndexFolderModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexFolderModel> Localize
@{
    ViewData["Title"] = "IndexFolder";

}
<style>
    body {
        background-color: #0A082D;
    }

    .atf {
        margin-bottom: 40px;
    }

    .recent-library-module4 {
        height: 100px !important;
        border-radius: 6px;
        background-color: #2E3756;
        color: white;
        font-weight: bold;
        font-size: 23px;
        width: 92%;
        margin-bottom: 10px;
    }

    .recent-description1 {
        font-size: 15px !important;
        font-weight: bold;
        color: #A9B0C3;
        position: relative;
        top: 20px;
        left: 2%;
        width: 90%;
    }

    .name-recent1 {
        width: 80.5%;
        display: flex;
        justify-content: start;
        position: relative;
        top: 15px;
        left: 2%;
        overflow: hidden;
    }

    .del:hover {
        background-color: crimson;
        transform: scale(1.05);
    }

    .del:focus {
        background-color: #2e3756;
        box-shadow: none;
        outline: none;
    }

    .edt {
        height: 70px;
        width: 70px;
        background-color: #6495ED;
        border-radius: 10px;
        background-image: url(/images/pencil.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;
        position: relative;
        left: -15px;
    }

    .tru {
        width: 92%;
    }

    .ll {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .name-cont {
        color: white !important;
        position: relative;
        top: 50px;
        width: 40%;
    }

    .delfb {
        height: 70px;
        width: 70px;
        background-color: crimson;
        border-radius: 10px;
        background-image: url(/images/delete1.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;

    }

    .del-edt {
        width: 100%;
        display: flex;
        align-content: end;
        align-items: end;
        justify-content: end;
    }
</style>


<div class="top-page-library-modules">


    <table class="table">
        <h1 class="name-cont" style="color:white">@Localize["Folder"]: @Model.Folder.Name</h1>

        <div class="del-edt">
            <button type="button" data-bs-toggle="modal" data-bs-target="#@("editModel" + @Model.Folder.Id)" style="background-color:transparent; border:none; position:relative;right:15px;">
                <div class="edt">
                </div>
            </button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + @Model.Folder.Id)" style="background-color:transparent; border:none; position:relative;right:15px;">
                <div class="delfb">
                </div>
            </button>

        </div>
        <!-- Modal edit-->


        <div class="modal fade" id="@("editModel"+@Model.Folder.Id)" tabindex="-1" aria-labelledby="@("editModelLabel"+@Model.Folder.Id)" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:cornflowerblue">
                        <h5 class="modal-title" id="@("editModelLable"+@Model.Folder.Id)" style="color:white; font-weight:bold">@Localize["Edit"]</h5>
                    </div>

                    <div class="modal-body" style="background-color: cornflowerblue; height:220px; z-index:999;" >
                        <form method="post" asp-page-handler="Edit" asp-route-id="@Model.Folder.Id">
                            <input asp-for="@Model.Folder.UserId" type="hidden" value="@Model.Folder.UserId" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Folder.Id" />
                            <div class="form-group" style="position:relative; top:10px;">
                                <label asp-for="@Model.Folder.Name" class="control-label">@Localize["Name"]</label>
                                <input asp-for="@Model.Folder.Name" class="form-control" value="@Model.Folder.Name" />
                                <span asp-validation-for="@Model.Folder.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="position:relative; top:10px; z-index:999;">
                                <label asp-for="@Model.Folder.Description" class="control-label">@Localize["Description"]</label>
                                <input asp-for="@Model.Folder.Description" class="form-control" value="@Model.Folder.Description" />
                                <span asp-validation-for="@Model.Folder.Description" class="text-danger"></span>
                            </div>
                            <div class="modal-footer" style="position:relative; top:-90px;">
                                <div class="form-group" style="width:100%; left:7%; display:flex; justify-content:end;">
                                    <input type="submit" value="@Localize["Save"]" class="btn btn-primary" style="position:relative; left:-10px;background-color:#28A745; border:none;" />
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#DC3545;border:none;">@Localize["Close"]</button>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>

        <!-- Modal delete-->
        <div class="modal fade" id="@("deleteModel"+@Model.Folder.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+Model.Folder.Id)" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:crimson; color:white; font-weight:bold;">
                        <h5 class="modal-title" id="@("deleteModelLable"+@Model.Folder.Id)">@Localize["Delete"]</h5>
                    </div>
                    <div class="modal-body">
                        @Localize["Are you sure you want to delete"] @Model.Folder.Name?
                    </div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:dodgerblue; border:none;">@Localize["Cancel"]</button>
                        <a asp-page-handler="DeleteFolder" asp-route-id="@Model.Folder.Id" class="btn btn-danger" style="background-color:crimson; border:none;">@Localize["Delete"]</a>
                    </div>
                </div>
            </div>
        </div>

        <form method="post">
            <div class="form-group">
                <select asp-for="SelectedTrainingModuleId" class="form-control tru" asp-items="Model.TrainingModulesWithoutFolder" style="background-color:steelblue; color:white; border:none; box-shadow:none;">
                    <option value="">-- @Localize["Select Training Module"] --</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary atf">@Localize["Add to Folder +"]</button>

        </form>


        <tbody>
            @foreach (var item in Model.TrainingModules)
            {
                <div>
                    <a asp-area="" asp-page="/Cards/Index" asp-route-trainingModuleId="@item.Id">

                        <div class="recent-library-module4">

                            <div class="recent-content">
                                <div class="name-recent1">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </div>
                                <div class="recent-description1">
                                    @Html.DisplayFor(modelItem => item.Description)
                                    <br />
                                    @Html.DisplayFor(modelItem => item.Create.Day) /
                                    @Html.DisplayFor(modelItem => item.Create.Month) /
                                    @Html.DisplayFor(modelItem => item.Create.Year)
                                </div>
                            </div>

                        </div>
                    </a>
                    <button type="button" class="btn btn-primary del" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + item.Id)">
                    </button>
                </div>

                <!-- Modal -->


                <div class="modal fade" id="@("deleteModel"+item.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+item.Id)" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:crimson; color:white; font-weight:bold;">
                                <h5 class="modal-title" id="@("deleteModelLable"+item.Id)">@Localize["Delete"]</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=@Localize["Close"]></button>
                            </div>
                            <div class="modal-body">
                                @Localize["Are you sure you want to delete this item?"]
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:dodgerblue; border:none;">@Localize["Cancel"]</button>
                                <a asp-page-handler="RemoveTrainingModule" asp-route-id="@item.Id" style="background-color:crimson; border:none;" class="btn btn-danger">@Localize["Delete"]</a>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </tbody>
        <div>



            </br>

        </div>
    </table>


</div>
