@page
@model EasyLearn.Pages.Folders.IndexFolderModel
@{
    ViewData["Title"] = "IndexFolder";

}

<div class="top-page-library-modules">

    <body class="custom-background">
    </body>

    <table class="table">
        @*         <a asp-area="" asp-page="/Folders/AddTrainingModules" asp-route-folderId="@Model.FolderId">
        Add TrainingModule
        </a> *@
        <h3>Add New Training Modules</h3>
        <form method="post">
            <div class="form-group">
                <select asp-for="SelectedTrainingModuleId" class="form-control" asp-items="Model.TrainingModulesWithoutFolder">
                    <option value="">-- Select Training Module --</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Add to Folder</button>
        </form>


        <tbody>



            @foreach (var item in Model.TrainingModule)
            {
                <a asp-area="" asp-page="/Cards/Index" asp-route-trainingModuleId="@item.Id">
                    <div class="recent-library-module">
                        @Html.DisplayFor(modelItem => item.Name)
                        <div class="recent-description">
                            @Html.DisplayFor(modelItem => item.Description)
                            <br />
                            @Html.DisplayFor(modelItem => item.Create.Day) /
                            @Html.DisplayFor(modelItem => item.Create.Month) /
                            @Html.DisplayFor(modelItem => item.Create.Year)
                        </div>

                    </div>
                </a>
            }
        </tbody>
        <div>
            <div style="background-color:white; border:2px solid chartreuse">
                <a asp-page="/Folders/Edit" asp-route-id="@Model.FolderId">
                    This is Edit of Folders
                </a>
            </div>
            </br>
@*             <div style="background-color:white; border:2px solid chartreuse">
                <a asp-page="/Folders/Delete" asp-route-id="@Model.FolderId">
                    This is Delete of Folders
                </a>
            </div> *@
        </div>
    </table>


</div>
