@page
@model EasyLearn.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.Create)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.Create)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.LastOpen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.LastOpen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Course.IsLearned)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Course.IsLearned)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
