@page
@model EasyLearn.Pages.Courses.IndexCoursesModel
@{
    ViewData["Title"] = "IndexCourses";
}
<style>
    body {
        background-color: #0A082D;
    }

    .atf {
        margin-bottom: 40px;
    }

    .recent-library-module4 {
        height: 100px !important;
        border-radius: 6px;
        background-color: #2E3756;
        color: white;
        font-weight: bold;
        font-size: 23px;
        width: 92%;
        margin-bottom: 10px;
    }

    .recent-description1 {
        font-size: 15px !important;
        font-weight: bold;
        color: #A9B0C3;
        position: relative;
        top: 20px;
        left: 2%;
        width: 90%;
    }

    .name-recent1 {
        width: 80.5%;
        display: flex;
        justify-content: start;
        position: relative;
        top: 15px;
        left: 2%;
        overflow: hidden;
    }

    .del:hover {
        background-color: red;
        transform: scale(1.05);
    }

    .del:focus {
        background-color: red;
        box-shadow: none;
        outline: none;
    }

    .edt {
        height: 70px;
        width: 70px;
        background-color: #6495ED;
        border-radius: 10px;
        background-image: url(/images/pencil.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;
    }

    .tru {
        width: 92%;
    }

    .ll {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .name-cont {
        colow: white !important;
        position: relative;
        top: 50px;
        width: 40%;
    }

    .fred {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .delfb {
        height: 70px;
        width: 70px;
        background-color: crimson;
        border-radius: 10px;
        background-image: url(/images/delete1.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;
    }
</style>

<div class="top-page-library-modules">



    <table class="table">
        <h1 class="name-cont" style="color:white">Course: @Model.Course.Name</h1>

        @*         <div class="edt">
        <a asp-page="/Courses/Edit" asp-route-id="@Model.CourseId">
        <div class="ll"></div>
        </a>
        </div> *@
        <!-- Button trigger modal -->

        <div class="fred">
            <button type="button" data-bs-toggle="modal" data-bs-target="#@("editModel" + @Model.Course.Id)" style="background-color:transparent; border:none; position:relative;right:15px;">
                <div class="edt">
                </div>
            </button>

            <button type="button" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + @Model.Course.Id)" style="background-color:transparent; border:none; position:relative;right:15px;">
                <div class="delfb">
                </div>
            </button>
            @* <a asp-page="/Courses/Delete" asp-route-id="@Model.CourseId">
            <div class="delfb">
            </div>
            </a> *@
        </div>



        <!-- Modal edit -->
        <div class="modal fade" id="@("editModel"+@Model.Course.Id)" tabindex="-1" aria-labelledby="@("editModelLabel"+@Model.Course.Id)" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="@("editModelLable"+@Model.Course.Id)">Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-page-handler="Edit" asp-route-id="@Model.Course.Id">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Course.Id" />
                            <div class="form-group">
                                <label asp-for="@Model.Course.Name" class="control-label"></label>
                                <input asp-for="@Model.Course.Name" class="form-control" value="@Model.Course.Name" />
                                <span asp-validation-for="@Model.Course.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Course.Description" class="control-label"></label>
                                <input asp-for="@Model.Course.Description" class="form-control" value="@Model.Course.Description" />
                                <span asp-validation-for="@Model.Course.Description" class="text-danger"></span>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>

        <!-- Modal delete-->
        <div class="modal fade" id="@("deleteModel"+@Model.Course.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+@Model.Course.Id)" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="@("deleteModelLable"+@Model.Course.Id)">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Ви впевнені , що хочете видалити цей елемент?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                        <a asp-page-handler="DeleteCourse" asp-route-id="@Model.Course.Id">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
            <div class="form-group">
                <select asp-for="SelectedFolderId" class="form-control tru" asp-items="Model.UnassignedFolders" style="background-color:steelblue; color:white; border:none; box-shadow:none;">
                    <option value="">-- Select a Folder --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary atf">Assign Folder</button>
        </form>

        <tbody>
            @foreach (var item in Model.Folders)
            {
                <a asp-area="" asp-page="/Folders/IndexFolder" asp-route-folderId="@item.Id">

                    <div class="recent-library-module4">

                        <div class="recent-content">
                            <div class="name-recent1">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="recent-description1">
                                @Html.DisplayFor(modelItem => item.Description)
                                <br />
                                @Html.DisplayFor(modelItem => item.Create.Day) /
                                @Html.DisplayFor(modelItem => item.Create.Month) /
                                @Html.DisplayFor(modelItem => item.Create.Year)
                            </div>
                        </div>

                    </div>
                </a>
                <button type="button" class="btn btn-primary del" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + item.Id)">
                </button>


                <!-- Modal -->
                <div class="modal fade" id="@("deleteModel"+item.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+item.Id)" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="@("deleteModelLable"+item.Id)">Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Ви впевнені , що хочете видалити цей елемент?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancle</button>
                                <a asp-page-handler="RemoveFolder" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </tbody>
    </table>


</div>
