@page
@model EasyLearn.Pages.Courses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="top-page-library-modules">
<body class="custom-background">

    <h1 class="create-title">Your library</h1>

    <div class="tabs">
        <a asp-area="" asp-page="/TrainingModules/Index" class="tab" style="color:white">Training modules</a>
        <a asp-area="" asp-page="/Folders/Index" class="tab" style="color:white">Folders</a>
        <a asp-area="" asp-page="/Courses/Index" class="tab" style="color:cornflowerblue">Courses</a>
    </div>
    <hr class="tab-line">

    <input type="search" class="s1" placeholder="Search Course" />
        <form method="get">
            <input type="search" name="searchString" class="s1" placeholder="Search Course" />
            <button type="submit" class="btn btn-primary lupa"></button>
        </form>

</body>
<table class="table">
   
    <tbody>
@foreach (var item in Model.Course) {
            <div class="recent-library-module">
                @Html.DisplayFor(modelItem => item.Name)
                <div class="recent-description">
                    @Html.DisplayFor(modelItem => item.Description)
                        <br />
                        @Html.DisplayFor(modelItem => item.Create.Day) /
                        @Html.DisplayFor(modelItem => item.Create.Month) /
                        @Html.DisplayFor(modelItem => item.Create.Year)
                </div>
            </div>
}
    </tbody>
</table>
</div>