@page
@model EasyLearn.Pages.Courses.IndexCoursesModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexCoursesModel> Localize
@{
    ViewData["Title"] = "IndexCourses";
}
<style>
    body {
        background-color: #0A082D;
    }

    .atf {
        margin-bottom: 40px;
    }

    .recent-library-module4 {
        height: 100px !important;
        border-radius: 6px;
        background-color: #2E3756;
        color: white;
        font-weight: bold;
        font-size: 23px;
        width: 92%;
        margin-bottom: 10px;
    }

    .recent-description1 {
        font-size: 15px !important;
        font-weight: bold;
        color: #A9B0C3;
        position: relative;
        top: 20px;
        left: 2%;
        width: 90%;
    }

    .name-recent1 {
        width: 80.5%;
        display: flex;
        justify-content: start;
        position: relative;
        top: 15px;
        left: 2%;
        overflow: hidden;
    }

    .del:hover {
        background-color: red;
        transform: scale(1.05);
    }

    .del:focus {
        background-color: red;
        box-shadow: none;
        outline: none;
    }

    .edt {
        height: 70px;
        width: 70px;
        background-color: #6495ED;
        border-radius: 10px;
        background-image: url(/images/pencil.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;
        position:relative;
        left:-15px;
    }

    .tru {
        width: 92%;
    }

    .ll {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    .name-cont {
        colow: white !important;
        position: relative;
        top: 50px;
        width: 40%;
    }

    .fred {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .delfb {
        height: 70px;
        width: 70px;
        background-color: crimson;
        border-radius: 10px;
        background-image: url(/images/delete1.png);
        background-repeat: no-repeat;
        background-size: 42%;
        background-position: center;
    }
</style>

<div class="top-page-library-modules">



    <table class="table">
        <h1 class="name-cont" style="color:white">@Localize["Course"]: @Model.Course.Name</h1>

        <div class="fred">
            <button type="button" data-bs-toggle="modal" data-bs-target="#@("editModel" + @Model.Course.Id)" style="background-color:transparent; border:none; position:relative;right:15px;">
                <div class="edt">
                </div>
            </button>

            <button type="button" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + @Model.Course.Id)" style="background-color:transparent; border:none; position:relative;right:15px;">
                <div class="delfb">
                </div>
            </button>
        </div>



        <!-- Modal edit -->
        <div class="modal fade" id="@("editModel"+@Model.Course.Id)" tabindex="-1" aria-labelledby="@("editModelLabel"+@Model.Course.Id)" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:cornflowerblue">
                        <h5 class="modal-title" id="@("editModelLabel"+@Model.Course.Id)" style="color:white; font-weight:bold">@Localize["Edit"]</h5>
                    </div>
                    <div class="modal-body" style="background-color: cornflowerblue; height:220px;">
                        <form method="post" asp-page-handler="Edit" asp-route-id="@Model.Course.Id">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="@Model.Course.Id" />
                            <div class="form-group" style="position:relative; top:10px; z-index:999;">
                                <label asp-for="@Model.Course.Name" class="control-label">@Localize["Name"]</label>
                                <input asp-for="@Model.Course.Name" class="form-control" value="@Model.Course.Name" />
                                <span asp-validation-for="@Model.Course.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="position:relative; top:10px; z-index:999;" >
                                <label asp-for="@Model.Course.Description" class="control-label">@Localize["Description"]</label>
                                <input asp-for="@Model.Course.Description" class="form-control" value="@Model.Course.Description" />
                                <span asp-validation-for="@Model.Course.Description" class="text-danger"></span>
                            </div>
                            <div class="modal-footer" style="position:relative; top:-90px;">
                                <div class="form-group" style="width:100%; display:flex; left:7%; justify-content:end;">
                                    <input type="submit" value=@Localize["Save"] class="btn btn-primary" style="background-color:#28A745; border:none; margin-right:10px;" />
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:#DC3545; border:none;">@Localize["Close"]</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal delete-->
        <div class="modal fade" id="@("deleteModel"+@Model.Course.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+@Model.Course.Id)" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:crimson; color:white; font-weight:bold;">
                        <h5 class="modal-title" id="@("deleteModelLabel"+@Model.Course.Id)">@Localize["Delete"]</h5>
                    </div>
                    <div class="modal-body">
                        @Localize["Are you sure you want to delete"] @Model.Course.Name?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:dodgerblue; border:none;">@Localize["Cancel"]</button>
                        <a asp-page-handler="DeleteCourse" asp-route-id="@Model.Course.Id" class="btn btn-danger" style="background-color:crimson; border:none;">@Localize["Delete"]</a>
                    </div>
                </div>
            </div>
        </div>

        <form method="post">
            <div class="form-group">
                <select asp-for="SelectedFolderId" class="form-control tru" asp-items="Model.UnassignedFolders" style="background-color:steelblue; color:white; border:none; box-shadow:none;">
                    <option value="">-- @Localize["Select a Folder"] --</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary atf">@Localize["Assign Folder"]</button>
        </form>

        <tbody>
            @foreach (var item in Model.Folders)
            {
                <a asp-area="" asp-page="/Folders/IndexFolder" asp-route-folderId="@item.Id">

                    <div class="recent-library-module4">

                        <div class="recent-content">
                            <div class="name-recent1">
                                @Html.DisplayFor(modelItem => item.Name)
                            </div>
                            <div class="recent-description1">
                                @Html.DisplayFor(modelItem => item.Description)
                                <br />
                                @Html.DisplayFor(modelItem => item.Create.Day) /
                                @Html.DisplayFor(modelItem => item.Create.Month) /
                                @Html.DisplayFor(modelItem => item.Create.Year)
                            </div>
                        </div>

                    </div>
                </a>
                <button type="button" class="btn btn-primary del" data-bs-toggle="modal" data-bs-target="#@("deleteModel" + item.Id)">
                </button>


                <!-- Modal -->
                <div class="modal fade" id="@("deleteModel"+item.Id)" tabindex="-1" aria-labelledby="@("deleteModelLabel"+item.Id)" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color:crimson; color:white; font-weight:bold;">
                                <h5 class="modal-title" id="@("deleteModelLable"+item.Id)">@Localize["Delete"]</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label=@Localize["Close"]></button>
                            </div>
                            <div class="modal-body">
                                @Localize["Are you sure you want to delete this item?"]
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color:dodgerblue; border:none;">@Localize["Cancel"]</button>
                                <a asp-page-handler="RemoveFolder" asp-route-id="@item.Id" style="background-color:crimson; border:none;" class="btn btn-danger">@Localize["Delete"]</a>
                            </div>
                        </div>
                    </div>
                </div>





                





            }
        </tbody>
    </table>


</div>
