@page
@using Microsoft.AspNetCore.Mvc.Localization
@model EasyLearn.Pages.Home.IndexModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localize

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        background-color: #0A082D; 

    }
    html {
    }

</style>


<div class="top-page">


    <h1 class="adapted-text" ">@Localize["Recent"]</h1>
    <div class="xbox-1">
        <div class="recent-modules"></div>
     </div>


    <h1 class="adapted-text">@Localize["Try these updated functions"]</h1>
    <div class="xbox-2">
    
    <div class="box-info-container">

    <div class="box-info">
            <div class="photo1"></div>
        <div class="name">@Localize["Advanced search"]</div>
        <div class="info">@Localize["Find the flashcards you need to study any subject"]</div>
    </div>

            <div class="box-info">
            <div class="photo2"></div>
        <div class="name">@Localize["Learn something new!"]</div>
        <div class="info">@Localize["Improve your grades by learning new words"]</div>
    </div>

            <div class="box-info">
            <div class="photo3"></div>
            <div class="name">@Localize["Be prepared for exams"]</div>
            <div class="info">@Localize["Test yourself with study tips and advices"]</div>
        </div>


    </div>

    </div>

    <h1 class="adapted-text" ">@Localize["Popular textbooks"]</h1>
    <div class="xbox-3">

    <div class="books-container">

    <button class="nav-btn left-btn" onclick="prevGroup()">&#9664;</button>

    <div class="box-container">

        <div class="box">
            <a href="https://knigi1886.com/ua/" target="_blank" class="image-link">
                <div class="book-photo1"></div>
            </a>
            <div class="book-name">High Note 3 Student's Book</div>
            <div class="book-info">Year: 2020 <br>Pages: 200<br>Language: English<br>Level: B2<br>Episode: Pearson Education Ltd</div>
        </div>

        <div class="box">
            <a href="https://www.yakaboo.ua/ua/fundamental-mathematics-for-epidemiology-study.html?" target="_blank" class="image-link">
                <div class="book-photo2"></div>
            </a>
            <div class="book-name">Mathematics For Epidemiology</div>
            <div class="book-info">Year: 2018 <br>Pages: 271<br>Language: English<br>Level: Advanced<br>Episode: Sons, LTD</div>
        </div>

        <div class="box">
            <a href="https://www.wiley.com/en-sg/Basic+Physics%3A+A+Self-Teaching+Guide%2C+3rd+Edition-p-9781119629900" target="_blank" class="image-link">
                <div class="book-photo3"></div>
            </a>
            <div class="book-name">Basic Physics: 3rd Edition</div>
            <div class="book-info">Year: 2020 <br>Pages: 352<br>Language: English<br>Level: Advanced<br>Episode: Jossey-Bass</div>
        </div>

        <div class="box hidden">
            <a href="https://www.wiley.com/en-nl/Introducing+Physical+Geography%2C+6th+Edition-p-9781118396209" target="_blank" class="image-link">
                <div class="book-photo4"></div>
            </a>
            <div class="book-name">Physical Geography</div>
            <div class="book-info">Year: 2013 <br>Pages: 672 <br>Language: English<br>Level: Advanced<br>Episode: Alan H. Strahler</div>
        </div>

        <div class="box hidden">
            <a href="https://www.amazon.com/Architecting-ASP-NET-Core-Applications-atypical/dp/1805123386" target="_blank" class="image-link">
                <div class="book-photo5"></div>
            </a>
            <div class="book-name">Architecting ASP.NET 8</div>
            <div class="book-info">Year: 2024 <br>Pages: 806<br>Language: English<br>Level: Advanced<br>Episode: Carl-Hugo Marcotte</div>
        </div>

        <div class="box hidden">
            <a href="https://www.amazon.com/Chemistry-Macmillan-Foundations-Rhobert-Lewis/dp/1137610352" target="_blank" class="image-link">
                <div class="book-photo6"></div>
            </a>
            <div class="book-name">Chemistry with Heisemberg</div>
            <div class="book-info">
                Year: 2018 <br>Pages: 508<br>Language: English<br>Level: Advanced<br>Episode: Rob Lewis and Wynne Evans
            </div>
        </div>

    </div>

    <button class="nav-btn right-btn" onclick="nextGroup()">&#9654;</button>
     </div>

    </div>


    <h1 class="adapted-text">@Localize["Video lessons"]</h1>

    <div class="xbox-4">
<div class="video-lessons-column1">

    <div class="box-video-info-container">

                    <div class="video-info-box border-class" style="background-color:#2E3756">
                    <a href="https://www.youtube.com/watch?v=juKd26qkNAw" target="_blank">
                        <div class="ph-ct">
                            <div class="photo7"></div>
                        </div>
                    </a>
                        <div class="nameless">Learn English in 30 Minutes - Basics English You Need</div>
                    </div>

                   <div class="video-info-box border-class" style="background-color:#2E3756">
                    <a href="https://www.youtube.com/watch?v=gfkTfcpWqAY" target="_blank">
                    <div class="ph-ct">
                        <div class="photo8"></div>
                    </div>
                    </a>
                       <div class="nameless">
                    C# Tutorial For Beginners - Learn C# Basics in 1 Hour
                </div>
            </div>



                    <div class="video-info-box border-class" style="background-color:#2E3756">
                    <a href="https://www.youtube.com/watch?v=NybHckSEQBI" target="_blank">
                    <div class="ph-ct">
                        <div class="photo9"></div>
                    </div>
                    </a>
                    <div class="nameless">Algebra Basics: What Is Algebra? - Math Antics</div>
            </div>


            </div>

</div>
    </div>

    <div class="xbox-5">
<div class="video-lessons-column2">

            <div class="box-video-info-container">

                <div class="video-info-box border-class" style="background-color:#2E3756">
                    <a href="https://www.youtube.com/watch?v=AhAxLiGC7Pc" target="_blank">
                        <div class="ph-ct">
                            <div class="photo10"></div>
                        </div>
                    </a>
                        <div class="nameless">Advanced ASP.NET Core Full Course For Beginners</div>
            </div>


                <div class="video-info-box  border-class" style="background-color:#2E3756">
                    <a href="https://www.youtube.com/watch?v=Sk6YQynZ1h8" target="_blank">
                        <div class="ph-ct">
                            <div class="photo11"></div>
                        </div>
                    </a>
                        <div class="nameless">
                    Learn French from Zero - French Absolute Beginners Guide
                </div>
            </div>



                <div class="video-info-box border-class" style="background-color:#2E3756">
                    <a href="https://www.youtube.com/watch?v=5-AoFVwbWew" target="_blank">
                        <div class="ph-ct">
                            <div class="photo12"></div>
                        </div>
                    </a>
                        <div class="nameless">I Improved My Social Skills As FAST As I Could - HERE'S HOW</div>
            </div>

    </div>

</div>
    </div>



    <div class="xbox-6">
        <div class="video-info-box border-class" style="background-color:#2E3756">
            <a href="https://www.youtube.com/watch?v=juKd26qkNAw" target="_blank">
                <div class="ph-ct">
                    <div class="photo7"></div>
                </div>
            </a>
            <div class="nameless">Learn English in 30 Minutes - Basics English You Need</div>
        </div>

        <div class="video-info-box border-class" style="background-color:#2E3756">
            <a href="https://www.youtube.com/watch?v=gfkTfcpWqAY" target="_blank">
                <div class="ph-ct">
                    <div class="photo8"></div>
                </div>
            </a>
            <div class="nameless">C# Tutorial For Beginners - Learn C# Basics in 1 Hour</div>
        </div>

        <div class="video-info-box border-class" style="background-color:#2E3756">
            <a href="https://www.youtube.com/watch?v=NybHckSEQBI" target="_blank">
                <div class="ph-ct">
                    <div class="photo9"></div>
                </div>
            </a>
            <div class="nameless">Algebra Basics: What Is Algebra? - Math Antics</div>
        </div>

        <div class="video-info-box border-class" style="background-color:#2E3756">
            <a href="https://www.youtube.com/watch?v=AhAxLiGC7Pc" target="_blank">
                <div class="ph-ct">
                    <div class="photo10"></div>
                </div>
            </a>
            <div class="nameless">Advanced ASP.NET Core Full Course For Beginners</div>
        </div>

        <div class="video-info-box border-class" style="background-color:#2E3756">
            <a href="https://www.youtube.com/watch?v=Sk6YQynZ1h8" target="_blank">
                <div class="ph-ct">
                    <div class="photo11"></div>
                </div>
            </a>
            <div class="nameless">Learn French from Zero - French Absolute Beginners Guide</div>
        </div>

        <div class="video-info-box border-class" style="background-color:#2E3756">
            <a href="https://www.youtube.com/watch?v=5-AoFVwbWew" target="_blank">
                <div class="ph-ct">
                    <div class="photo12"></div>
                </div>
            </a>
            <div class="nameless">I Improved My Social Skills As FAST As I Could - HERE'S HOW</div>
        </div>
    </div>





@*     <footer class="home-footer">
        
    </footer> *@

</div>

